<div class="row">
  <div class="col-md-8">
    <h1>Recent Posts</h1>
  </div>
</div>
<div class="row">
<% object.each do |a| %>
  <div class="col-sm-6 col-md-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-2">
            <%= link_to get_gravatar(a.user, size:40), user_path(a.user) %>
          </div>
          <div class="col-md-8"><h4><%= a.title %></h4></div>
        </div>
      </div>
      <div class="article-body">
        <%= truncate(a.content, length: 100) %>
        <div class="article-meta-details">
          <small>Created <%= time_ago_in_words(a.created_at) %> ago</small>
        </div>
      </div>
      <% if user? && (current_user == a.user || moderator?) %>
        <div>
          <%= link_to "Edit", edit_article_path(a), class: "btn btn-xs btn-primary" %>
          <%= link_to "Delete", article_path(a), method: :delete,
                                                       data: {confirm: "Are you sure to delete this article?"},
                                                       class: "btn btn-xs btn-danger" %>
        </div>
      <% end %>
      <%= link_to "Read Full Post", article_path(a), class: 'btn btn-primary', style:"width:100%" %>
    </div>
  </div>
<% end %>
</div>

<div class="row">
  <div class="col-md-8">
    <h1>Popular Posts</h1>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption">
        <h3>Article Name</h3>
        <p align="center"><a href="#" class="btn btn-primary" role="button" style="width:100%">Read Full Post</a></p>
      </div>
    </div>
  </div>
</div>
