<div class="panel panel-primary">
  <div class="panel-heading">Blog prototype: List of all articles</div>

  <div class="panel-body">
    <%= link_to 'Create new a article', new_article_path %><br/>
    <table style="width:100%">
      <h2>
        <tr>
          <th>Title</th>
          <th>Content</th>
          <th colspan="3">Actions</th>
        </tr>
      </h2>

      <% @articles.each do |a| %>
      <tr>
        <td><%= a.title %></td>
        <td><%= a.content %></td>
        <td><%= link_to 'Show', article_path(a) %></td>
        <td><%= link_to 'Edit', edit_article_path(a) %></td>
        <td><%= link_to 'Delete', article_path(a), method: :delete, data: {confirm: "Are you sure to delete this article?"} %></td>
      </tr>
      <% end %>
    </table>
  </div>
