<div id="stock-search-result" class="panel-body">
  <div class="panel-heading">
    <%= form_tag stocks_search_path, id: 'stock-search-id', remote: true, method: :get do %>
      <div>
        <div>
          <%= text_field_tag :ticker, params[:ticker], autofocus: true, placeholder: "Search by ticker" %>
        </div>
        <div>
          <br/><%= button_tag(type: :submit) do %> Search for a stock <% end %>
        </div>
      </div>
    <% end %>
    <%= render 'shared/spinner' %>
    <div id="stock-search-error"></div>
    <% if @stock %>
      <div>
        Ticker: <%= @stock.ticker %><br/>
        Name: <%= @stock.name %><br/>
        Last value: <%= @stock.last_value %><br/>
        Prediction closing: <%= rand(0...500) %>
      </div>
    <% end %>
  </div>
</div>
