<%= render 'shared/errors', object: @user %>

<%= form_for @user do |a| %>
  <p>
    <%= a.label :username %><br/>
    <%= a.text_field :username %>
  </p>
  <p>
    <%= a.label :email %><br/>
    <%= a.email_field :email %>
  </p>
  <p>
    <%= a.label :password %><br/>
    <%= a.password_field :password %>
  </p>
  <p>
    <%= a.submit(@user.new_record? ? "Sign up" : "Update your profile")  %>
  </p>

<% end %>
