<%= render 'shared/errors', object: @user %>

<%= form_for @user do |u| %>
  <p>
    <%= u.label :username %><br/>
    <%= u.text_field :username, placeholder: "Choose a username", autofocus: true %>
  </p>
  <p>
    <%= u.label :email %><br/>
    <%= u.email_field :email, placeholder: "Enter your email address" %>
  </p>
  <p>
    <%= u.label :password %><br/>
    <%= u.password_field :password, placeholder: "Choose a password", autocomplete: "off" %>
  </p>
  <% if admin? %>
    <p>
      <%= u.label :rank %><br/>
      <%= u.text_field :rank, placeholder: "Change user rank", autocomplete: "off" %>
    </p>
  <% end %>
  <p>
    <% if admin? %>
      <%= u.submit "Update this profile" %>
    <% else %>
      <%= u.submit(@user.new_record? ? "Sign up" : "Update your profile")  %>
    <% end %>
  </p>
<% end %>
