<div class="panel panel-primary">
  <div class="panel-heading">List of users</div>

  <div class="panel-body">
    <table style="width:100%">
      <h2>
        <tr>
          <th>Avatar</th>
          <th>Username</th>
          <th>Articles</th>
          <% if is_admin %>
            <th colspan="2">Admin Actions</th>
          <% end %>
        </tr>
      </h2>

      <% @users.each do |u| %>
      <tr>
        <td><%= link_to get_gravatar(u, size:25), user_path(u) %></td>
        <td><%= link_to u.username, user_path(u)  %></td>
        <td><%= u.articles.count  %></td>
        <% if is_admin %>
          <td><%= link_to 'Edit', edit_user_path(u) %></td>
          <td><%= link_to 'Delete', user_path(u), method: :delete, data: {confirm: "Are you sure to delete this user?"} %></td>
        <% end %>
      </tr>
      <% end %>
    </table>
  </div>
