<div class="panel panel-primary">
  <div class="panel-heading"><%= @user.username %>'s public profile</div>
  <!-- TODO use the rank table to fetch the name of the rank -->
  User rank: <strong><%= @user.rank %></strong>
  <% if current_user == @user || admin? %>
  <br/><strong>Actions on profile:</strong>
    <%= link_to 'Edit', edit_user_path(@user) %>
    <%= link_to 'Delete', user_path(@user), method: :delete, data: {confirm: "Are you sure to delete this profile?"} %>
  <% end %>
  <div class="panel-body">
    <%= get_gravatar @user, size: 250 %>
  </div>
  <div align="center">
    <%= will_paginate @user_articles %>
  </div>
  <% if @user.articles.any? %>
    <%= render 'articles', object: @user_articles %>
  <% else %>
    <div class="panel-body">
      This user has no articles
    </div>
  <% end %>
  <div align="center">
    <%= will_paginate @user_articles %>
  </div>
</div>
